<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--- LOG -->
		<add key="CapaPresentacionLog" value="D:\User\Documents\Software\sisGrifo\log\log.txt" />
	</appSettings>
	<connectionStrings>
		<add name="dbgrifoConnectionString" connectionString="SERVER = 127.0.0.1;DATABASE=dbgrifo;UID = root;pwd=JvAl" providerName="System.Data.MySqlClient" />
	</connectionStrings>
</configuration>
